@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
    --font-family: Rubik, Verdana, sans-serif;
    --primary: rgb(115, 2, 12);
    --primary-hover: black;
    --color: white;
    --h1-color: var(--color);
    --h2-color: var(--color);
    --h3-color: var(--color);
    --card-background-color: rgba(0, 0, 0, 0.8);
    --card-sectionning-background-color: rgba(0, 0, 0, 0.8);
    --form-element-active-border-color: var(--color);
    --form-element-placeholder-color: gray;
}

#root h1 {
    font-size: 3rem;
    margin-bottom: 0px;
}

#root h2 {
    margin-bottom: 0px;
}

#root h3 {
    font-size: 1.5rem;
    margin-bottom: 0px;
}

#root p {
    margin-bottom: 10px;
}

#root [role=button], #root button, #root input[type=submit] {
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid transparent;
    margin: 10px;
    width: max-content;
}

#root [role=button]:hover, #root button:hover, #root input[type=submit]:hover {
    border: 2px solid var(--color);
}

#root main {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

#root article {
    text-align: left;
    margin-bottom: 5px;
}

#root article header {
    border-bottom: 0px;
    margin-bottom: 10px;
}

#root article footer {
    border-top: 0px;
    margin-top: 0px;
    display: flex;
}